<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Personal Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Welcome to your personal recipe dashboard!</h1>
      <div class="instructions special-instructions">
  <p>If it's empty, it means you haven't saved any recipes!</p>
</div>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/new-post">Create New Recipe</a>
      <button id="logout" class="btn btn-primary">Logout</button>
    </nav>
    <main>
      <img src="/pictures/guy-fieri.jpg" alt="guy fieri yelling in fire" style="max-width: 100%; height: auto;">
      <aside>
        <h2>Look at your recipes!</h2>
      </aside>
      <div class="blog-post">
        {{{body}}}
      </div>
    </main>
    <script src="/js/logout.js"></script>
  </body>

</html>